.App {
  text-align: center;
  overflow: hidden;
}

.body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}


[class*="col-"] {
  float: left;
  padding: 25px;
  
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  /*Navbar*/
  .navbar {
    background: linear-gradient(135deg, #f6f4dc 88%, #000000 88%);
    position: fixed;
    width: 100%;
    border-bottom: solid 5px black;
  }
  /*Home*/
  .profilePic {
    margin-left: 10%;
    margin-top: 10%;
    z-index: 2;
    width: 80%;
    border-style: solid;
    border-color: #f6f4dc;
    border-radius: 50%;
    border-width: 10px;
  }

  .title {
    
    color: #f6f4dc;
    font-size: 12vw;
    font-family: Brush Script MT;
    margin:  13% auto;
    text-align: right;
    line-height: 85%;
  }

  .tagLine {
    color: #f6f4dc;
    letter-spacing: 10px;
    font-size: 2vw;
    font-weight: bold;
    
    margin-left: 5%;
  }

  .line {
    height: 5px;
    width: 115%;
    background: #f6f4dc;
    opacity: 1;
    margin-top: -7%;
  }

  #banner {
    background-image: url("./Assets/hedge.png");
    height:80vh;
    
  }

  #footer {
    background: linear-gradient(135deg, #f6f4dc 50%,#000000 50%);
    padding: 0%;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    
  }

  #blurb {
    margin: 1% center;
    padding: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  #blurb2 {
    margin: 1% center;
    color: white;
    padding: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .icon {
    color: #b50627;
  }

  /*About*/

  #aboutRow {
    background-image: url("./Assets/checkerBoardOW.png");
    background-size: cover;
    background-color: #f6f4dc;
    height: 100vh;
  }
  #about1 {
    height: 100vh;   
  }
  #about2 {
    height: 100vh;
  }
  #tag {
    background-color:#000000;
    border: solid 5px #f6f4dc;
    padding: 20%;
    height: 90%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
    font-size:2.5vw;
    margin-top: 7%;
  }
  #who {
    background-color: #f6f4dc;
    border: solid 5px black;
    padding: 15%;
    height: 90%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin-top: 7%;    
    font-size: 2vw;
  }
  /*Gallery*/
  .gallery {
    background-color: #000000;
  }
  #gallery1 {
    padding: 0;
  }
  #gallery2 {
    padding: 0;
  }
  #gallery3 {
    padding: 0;
  }  
  .dogTrio {
    width:100%;
    border: solid 5px #000000;
  }
  .finn {
    width: 100%;
    border: solid 5px #000000;
  }
  .yorkie {
    width: 100%;
    border: solid 5px #000000;
  }
  .crab {
    width: 100%;
    border: solid 5px #000000;
  }
  .hpyorkie {
    width: 100%;
    border: solid 5px #000000;
    margin: 2% auto;
  }
  .cowboy {
    width: 100%;
    margin: -11% auto;
    border: solid 5px #000000;
  }
  .lmdoodle {
    width: 50%;
    border: solid 5px #000000;
  }
  .hppoodle {
    width: 50%;
    border: solid 5px #000000;
  }
  
  /*Contact*/
  .contact {
    height: 100vh;
    background: linear-gradient(135deg, #f6f4dc 61.5%,#000000 61.5%);
  }
  #contact1 {
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10% auto;
    color: black;
    font-size: 7vw;
  }

  
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  [Class*="col-"] {
    width: 100%;
  }
  /*NavBar*/
  .navbar {
    background-color: #f6f4dc;
    position: fixed;
    width: 100%;
    border-bottom: solid 5px black;
  }
  /*Home*/
  #banner {
    background-image: url("./Assets/hedge.png")
    
  }
  .profilePic {
    width: 100%;
    border-style: solid;
    border-color: #f6f4dc;
    border-radius: 50%;
    border-width: 5px;
  }
  .title {
    color: #f6f4dc;
    font-size: 13vw;
    font-family: Brush Script MT;
  }
  .tagLine {
    color: #f6f4dc;
    letter-spacing: 10px;
    font-size: 5vw;
    font-weight: bold;
  }

  .line {
    height: 5px;
    width: 100%;
    background: #f6f4dc;
    opacity: 1;
  }
  #footer {
    background: #f6f4dc 45%;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
  }
  .icon {
    color: #b50627;
  }
  /*About*/
  #aboutRow {
    background-image: url("./Assets/checkerBoardOW.png");
    background-size: cover;
    background-color: #f6f4dc;
    
  }

  #tag {
    background-color:#000000;
    border: solid 5px #f6f4dc;
    padding: 10%;
    height: 90%;
    color: white;
    font-size: 2em;
    margin-top: 7%;
  }
  #who {
    background-color: #f6f4dc;
    border: solid 5px black;
    padding: 10%;
    height: 90%;
    margin-top: 7%; 
  }

  /*Gallery*/
  .gallery {
    background-color: #000000;
  }
  #gallery1 {
    padding: 0;
  }
  #gallery2 {
    padding: 0;
  }
  #gallery3 {
    padding: 0;
  }  
  .dogTrio {
    width:100%;
    border: solid 5px #000000;
  }
  .finn {
    width: 100%;
    border: solid 5px #000000;
  }
  .yorkie {
    width: 100%;
    border: solid 5px #000000;
  }
  .crab {
    width: 100%;
    border: solid 5px #000000;
  }
  .hpyorkie {
    width: 100%;
    border: solid 5px #000000;
  }
  .cowboy {
    width: 100%;
    border: solid 5px #000000;
  }
  .lmdoodle {
    width: 100%;
    border: solid 5px #000000;
  }
  .hppoodle {
    width: 100%;
    border: solid 5px #000000;
  }

}




